nav
    margin-top 30px
    line-height 30px
    height 32px
    background-color #f0f0f0
    border 1px solid #ccc
    ul
        list-style none
        padding 0
        margin 0
    li
        cursor default
        float left
        border-right 1px solid  #ccc
        padding 0 15px
        &.current
            background-color #fff
            height 31px
        &:hover
            background-color #fcfcfc
