<mip-showmore bottomshadow='1' maxheight='60' id="showmore">
    MIP-Cache 是一套基于代理的 CDN（Content Delivery Network） 缓存系统，可用于缓存所有被百度相关页面引用或者从百度相关服务点出的 MIP 页面。
    用户在访问 MIP 页面的时候，请求首先会发到 CDN 服务器，如果页面存在，则从 CDN 返回，如果 CDN 上不存在，则会请求第三方服务器。同时 MIP-Cache 服务器会将页面缓存到 CDN 上。在使用 MIP-Cache 时，MIP 页面所需要的所有静态文件和外部资源都会被缓存到 CDN 上（视频除外），并且页面中的资源链接会被转换成相对地址，很大程度上提升了页面渲染速度。每一个 MIP 页面都会绑定一个验证系统，在页面进行渲染时，这种验证器可以直接在浏览器控制台中输出页面的错误。并且随着代码逻辑的变化，能够展示其对页面性能以及用户体验的影响。
</mip-showmore>

<div on="tap:showmore.toggle" data-closeclass="details-open" class="details">
    <div class="details-tip-expand">收起<i class="icon icon-collapse"></i></div>
    <div class="details-tip-close">展开<i class="icon icon-expand"></i></div>
</div>
