.footer
    position relative
    z-index 20
    background-color #1E1E1E
    color #999
    font-size 14px
    a
        color #999
        &:hover
            color #3388ff
    .inner
        layout()
        padding-top 80px
        padding-bottom 30px
    .menu
        display flex
        justify-content space-between
        dt
            font-size 18px
            line-height 18px
            padding-bottom 20px
            color #fff
        dd
            line-height 30px
    .wise
        display none
        line-height 28px
        a
            display inline-block
            border-radius 3px
            background-color rgba(255, 255, 255, .02)
            padding 0 8px
            margin-right 16px
    .copyright
        text-align center
        padding-top 90px
        color rgba(153, 153, 153, .54)
@media screen and (max-width screenWidth)
    .footer
        .inner
            padding-top 40px
            padding-bottom 40px
        .pc
            display none
        .wise
            display block
        .copyright
            padding-top 16px
            text-align left
