.footer
    background-color #1E1E1E
    color #fff
    .inner
        layout()
        padding-top 80px
        padding-bottom 30px
    .menu
        display flex
        justify-content space-between
        dt
            font-size 18px
            padding-bottom 10px
        dd
            line-height 30px
            a
                font-size 14px
                color #999
    .copyright
        text-align center
        color #999
        font-size 14px
        margin-top 40px
@media screen and (max-width screenWidth)
    .footer
        .inner
            padding-top 20px
            padding-bottom 20px
        .menu
            flex-wrap wrap
            dl
                width 50%
                padding-top 20px
