height = 60px
wiseHeight = 40px

.header
    layout()
    display flex
    justify-content space-between
    user-select none
    .logo
        margin 0
        padding 0
        a
            background url(./img/logo.png) no-repeat left center
            font-size 0
            height 40px
            margin-top 10px
            background-size contain
            width 100px
            display block
    .nav
        display flex
        a
            color rgba(0, 0, 0, .54)
            height height
            line-height height
            padding 0 30px
            transition all .3s
            hover()
            active()
            &:hover
                color rgba(0, 0, 0, .88)
            &.current
                color rgba(0, 0, 0, .88)
                span
                    height 100%
                    display block
                    border-bottom 3px solid  #000
                    font-weight 700
    .dir
        line-height wiseHeight
        padding 0 10px
        display none
        margin-right -10px
        .icon
            font-size 20px
.header-fixed
    background-color #fff
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, .04)
@media screen and (max-width screenWidth)
    .header
        width 100%
        padding 2px 16px
        .logo
            a
                margin-top 5px
                height 30px
                width 70px
        .nav
            display none
        .dir
            display block
