<div class="header">
    <div class="header-inner">
        <div class="header-flex">
            <div class="header-logo">
                <a href="/" title="mipgo logo"></a>
            </div>

            <div class="header-nav">
                <ul class="header-nav-list">
                    {{each headerNav}}
                        {{if $value.text == page.title}}
                            <li class="current" ><a data-type="mip" data-title="{{ $value.text }}" href="{{ $value.url }}">{{ $value.text }}</a></li>
                        {{else}}
                            <li><a data-type="mip" data-title="{{ $value.text }}" href="{{ $value.url }}">{{ $value.text }}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>

            <!-- <div class="right-nav">
                <a href="https://github.com/mipengine" target="_blank" title="mip github">Github</a>
            </div> -->

            <button class="header-mobile-nav-toggle" id="logo" on="tap:right-sidebar.open" role="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <mip-sidebar 
                id="right-sidebar"
                layout="nodisplay"
                side="right"
                class="mip-hidden">
                <ul>
                    {{each headerNav}}
                        {{if $value.text == page.title}}
                            <li><a data-type="mip" data-title="{{ $value.text }}" class="current" href="{{ $value.url }}">{{ $value.text }}</a></li>
                        {{else}}
                            <li><a data-type="mip" data-title="{{ $value.text }}" href="{{ $value.url }}">{{ $value.text }}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </mip-sidebar>
        </div>
    </div>
</div>
