.header
    background-color #fff
    position relative
    z-index 1000
    padding 0 10px
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.04)

.header ul
    list-style none

.header-inner
    width 1110px
    margin 0 auto

.header-flex
    display flex
    align-items center
    box-align center
    box-lines single
    box-orient horizontal
    flex-align center
    flex-flow row nowrap

.header-logo
    box-flex 1
    flex 0 35%

.header-logo a
    background #fff url(./img/mip_logo.png) center center no-repeat
    background-size: 102px 48px;
    width: 102px;
    height: 48px;

.header-nav
    font-size 14px
    display none
    box-flex 1
    flex 1 65%
    text-align right
    line-height 57px

.header-nav-list > li
    position relative
    display inline-block
    width 72px
    text-align center

.header-nav-list > li > a
    position relative
    text-decoration none
    font-size 16px
    color #000
    opacity 0.54
    font-family PingFangSC-Regular

.header-nav-list > li:hover
    background rgba(0, 0, 0, 0.02)
    cursor pointer

.header-nav-list > li:hover > a
    opacity 0.88

.header-nav-list > li.current > a
    border-bottom 3px solid #000
    opacity 0.88

/*.right-nav
    line-height 60px
    box-flex 1
    flex 1 10%
    text-align right

.right-nav > a
    color rgba(255, 255, 255, 0.7)
    font-size 16px

.right-nav > a:hover
    color #fff*/

@media screen and (min-width: 767px)
    .header-nav
        display block

.header-mobile-nav-toggle
    display none

@media screen and (max-width: 767px)
    .row
        flex-wrap wrap
    .header-inner
        width 100%
    .header-mobile-nav-toggle
        position absolute
        top 0
        bottom 0
        right 20px
        width 25px
        height 20px
        margin auto
        opacity .5
        transition .2s
        cursor pointer
        outline none
        background-color transparent
        display block
        border none

    .header-mobile-nav-toggle span
        position absolute
        top 0
        left 0
        width 100%
        height 2px
        border-radius 2px
        background #3c63ecad
        transition .4s
        transform-origin 0

    .header-mobile-nav-toggle span:nth-child(2)
        top 9px

    .header-mobile-nav-toggle span:nth-child(3)
        top 18px
    mip-sidebar
        li
            padding 7px 20px
        li.current, li:active
            background rgba(0,0,0,0.1)



