// 移动端媒介查询宽度
screenWidth = 767px

// 页面内宽
innerWidth = 1100px

layout(width = innerWidth, padding = 16px)
    max-width width
    margin-left auto
    margin-right auto
    padding-left padding
    padding-right padding

active(opacity = .04)
    &:active
        background-color rgba(0, 0, 0, opacity) !important

hover(opacity = .02)
    &:hover
        background-color rgba(0, 0, 0, opacity) !important
