table
    text-align left
    max-width 100%
    border 1px solid #ddd
    border-spacing 0
    border-collapse collapse
    td,
    th
        border 1px solid #ddd
        padding 8px
    th
        background-color #f8f8f8
        border-bottom-width 2px
.icon
    font-size 20px
