{{extend '../../base/components.html'}}

{{block 'content'}}
    <table>
        <thead>
            <tr>
                <th>名称</th>
                <th>显示效果</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>加</td>
                <td><i class="icon icon-add"></i></td>
            </tr>
            <tr>
                <td>关闭</td>
                <td><i class="icon icon-close"></i></td>
            </tr>
            <tr>
                <td>向上</td>
                <td><i class="icon icon-up"></i></td>
            </tr>
            <tr>
                <td>向下</td>
                <td><i class="icon icon-down"></i></td>
            </tr>
            <tr>
                <td>向左</td>
                <td><i class="icon icon-left"></i></td>
            </tr>
            <tr>
                <td>向右</td>
                <td><i class="icon icon-right"></i></td>
            </tr>
            <tr>
                <td>搜索</td>
                <td><i class="icon icon-search"></i></td>
            </tr>
            <tr>
                <td>点赞</td>
                <td><i class="icon icon-fabulous_normal"></i></td>
            </tr>
            <tr>
                <td>已赞</td>
                <td><i class="icon icon-fabulous"></i></td>
            </tr>
            <tr>
                <td>分享</td>
                <td><i class="icon icon-share"></i></td>
            </tr>
            <tr>
                <td>查看更多</td>
                <td><i class="icon icon-more"></i></td>
            </tr>
            <tr>
                <td>留言评论</td>
                <td><i class="icon icon-comment"></i></td>
            </tr>
            <tr>
                <td>播放</td>
                <td><i class="icon icon-play"></i></td>
            </tr>
            <tr>
                <td>菜单项</td>
                <td><i class="icon icon-menu"></i></td>
            </tr>
            <tr>
                <td>查看更多</td>
                <td><i class="icon icon-menulist"></i></td>
            </tr>
            <tr>
                <td>书签</td>
                <td><i class="icon icon-mybook"></i></td>
            </tr>
            <tr>
                <td>日间模式</td>
                <td><i class="icon icon-day"></i></td>
            </tr>
            <tr>
                <td>夜间模式</td>
                <td><i class="icon icon-night"></i></td>
            </tr>
            <tr>
                <td>排序</td>
                <td><i class="icon icon-order"></i></td>
            </tr>
            <tr>
                <td>触摸</td>
                <td><i class="icon icon-finger"></i></td>
            </tr>
            <tr>
                <td>字体</td>
                <td><i class="icon icon-font"></i></td>
            </tr>
            <tr>
                <td>熊掌</td>
                <td><i class="icon icon-logo"></i></td>
            </tr>
            <tr>
                <td>MIP</td>
                <td><i class="icon icon-mip"></i></td>
            </tr>
            <tr>
                <td>GitHub</td>
                <td><i class="icon icon-github"></i></td>
            </tr>
            <tr>
                <td>组件</td>
                <td><i class="icon icon-components"></i></td>
            </tr>
            <tr>
                <td>代码</td>
                <td><i class="icon icon-code"></i></td>
            </tr>
            <tr>
                <td>指南针</td>
                <td><i class="icon icon-compass"></i></td>
            </tr>
            <tr>
                <td>加载图标</td>
                <td>
                    <span class="loading">
                        <i class="loading-icon"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td>加载图标（带文字）</td>
                <td>
                    <span class="loading">
                        <i class="loading-icon gap-right-small"></i>
                        <span>加载中...</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
{{/block}}
