<!-- 加 -->
<i class="icon icon-add"></i>

<!-- 关闭 -->
<i class="icon icon-close"></i>

<!-- 向上 -->
<i class="icon icon-up"></i>

<!-- 向下 -->
<i class="icon icon-down"></i>

<!-- 向左 -->
<i class="icon icon-left"></i>

<!-- 向右 -->
<i class="icon icon-right"></i>

<!-- 搜索 -->
<i class="icon icon-search"></i>

<!-- 点赞 -->
<i class="icon icon-fabulous_normal"></i>

<!-- 已赞 -->
<i class="icon icon-fabulous"></i>

<!-- 分享 -->
<i class="icon icon-share"></i>

<!-- 查看更多 -->
<i class="icon icon-more"></i>

<!-- 留言评论 -->
<i class="icon icon-comment"></i>

<!-- 播放 -->
<i class="icon icon-play"></i>

<!-- 菜单项 -->
<i class="icon icon-menu"></i>

<!-- 查看更多 -->
<i class="icon icon-menulist"></i>

<!-- 书签 -->
<i class="icon icon-mybook"></i>

<!-- 日间模式 -->
<i class="icon icon-day"></i>

<!-- 夜间模式 -->
<i class="icon icon-night"></i>

<!-- 排序 -->
<i class="icon icon-order"></i>

<!-- 触摸 -->
<i class="icon icon-finger"></i>

<!-- 字体 -->
<i class="icon icon-font"></i>

<!-- 熊掌 -->
<i class="icon icon-logo"></i>

<!-- MIP -->
<i class="icon icon-mip"></i>

<!-- GitHub -->
<i class="icon icon-github"></i>

<!-- 组件 -->
<i class="icon icon-components"></i>

<!-- 代码 -->
<i class="icon icon-code"></i>

<!-- 指南针 -->
<i class="icon icon-compass"></i>

<!-- 加载图标 -->
<span class="loading">
    <i class="loading-icon"></i>
</span>

<!-- 加载图标（带文字） -->
<span class="loading">
    <i class="loading-icon gap-right-small"></i>
    <span>加载中...</span>
</span>
