{{extend '../../base/templates.html'}} {{block 'content'}}
<div class="container">
    <!--主视频信息-->
    <mip-video poster="{{ page.videoPoster }}" controls layout="{{ page.videoLayout }}" width="{{ page.videoWidth }}" height="{{ page.videoHeight }}"
        src="{{ page.videoSrc }}" class="med-video-main" preload="auto">
    </mip-video>

    <!--标题信息-->
    {{include './_common/article_title.html'}}

    <!--医生信息-->
    {{include './_common/article_info.html'}}

    <!--详细描述-->
    <div class="med-line-height c-color gap-top gap-bottom font-size-s line-clamp{{ page.videoDetail.clamp }}">
        {{ page.videoDetail.text }}
    </div>

    <!--相关视频-->
    <div class="med-video-reco">
        <h3 class="gap-top-large med-normal-title c-color">{{ page.videoReco.title }}</h3>
        <div class="med-video-list-wrap med-margin-reduce">
        {{ each page.videoReco.list }}
        <div>
            <div class="row med-video-item">
                <div class="span8">
                    <span class="counter">
                        <span class="green"> {{$value.countTop}}</span>/{{$value.countBottom}}
                    </span>
                    <p class="line-clamp2 font-size-l methods-detail">{{ $value.title }}</p>
                    <div class="exp-img-opt">
                      <mip-img src="{{$value.src}}"></mip-img>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
    </div>
    <div class="med-video-reco">
        <h3 class="gap-top-large med-normal-title c-color">{{ page.videoReco.nextTitle }}</h3>
        <div class="med-video-list-wrap med-margin-reduce">
            {{ each page.videoReco.list }}
            <div class="line-bottom">
                <div class="row med-video-item">
                    <div class="span8">
                        <p class="line-clamp2 font-size-l methods-detail">{{ $value.title }}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>
<mip-fixed type="bottom" class="med-ask-btn hidden">
    {{ page.button }}
</mip-fixed>

{{/block}}
