@import './_common/common.styl'
@import './_common/article_title_big.styl'
@import './_common/article_info.styl'
h2
    margin: 0;
    margin-top: 20px;
    padding: 0;
    height: 40px;
    color: #55c658;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    