{{extend '../../base/templates.html'}}

{{block 'content'}}
<h1>问答类模板</h1>
<ul>
    <li>
        <a href="wenda-article-audio.html">音频播放文字页面</a>
    </li>
    <li>
        <a href="wenda-article-normal.html">文字页面</a>、<a href="wenda-article-more.html">文字带展开更多页面</a>、<a href="wenda-article-tag.html">文字带标签页面</a>
    </li>
    <li>
        <a href="wenda-message.html">对话问答页面</a>、<a href="wenda-message-reply.html">对话问答带展开更多页面</a>
    </li>
    <li>
        <a href="wenda-question.html">评论问答页面</a>、<a href="wenda-question-reply.html">评论问答带展开更多页面</a>
    </li>
    <li>
        <a href="wenda-video.html">视频播放页面</a>
    </li>
</ul>
{{/block}}
