{{extend '../../base/components.html'}}

{{block 'content'}}
    <table>
        <thead>
            <tr>
                <th>名称</th>
                <th>展示效果</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>加</td>
                <td><i class="icon icon-add"></i></td>
            </tr>
            <tr>
                <td>关闭</td>
                <td><i class="icon icon-close"></i></td>
            </tr>
            <tr>
                <td>向上</td>
                <td><i class="icon icon-collapse"></i></td>
            </tr>
            <tr>
                <td>向下</td>
                <td><i class="icon icon-expand"></i></td>
            </tr>
            <tr>
                <td>向左</td>
                <td><i class="icon icon-back"></i></td>
            </tr>
            <tr>
                <td>向右</td>
                <td><i class="icon icon-more"></i></td>
            </tr>
            <tr>
                <td>搜索</td>
                <td><i class="icon icon-search"></i></td>
            </tr>
            <tr>
                <td>点赞</td>
                <td><i class="icon icon-fabulous"></i></td>
            </tr>
            <tr>
                <td>已赞</td>
                <td><i class="icon icon-fabulous-normal"></i></td>
            </tr>
            <tr>
                <td>分享</td>
                <td><i class="icon icon-share"></i></td>
            </tr>
            <tr>
                <td>查看更多</td>
                <td><i class="icon icon-more2"></i></td>
            </tr>
        </tbody>
    </table>
{{/block}}
