<!-- 加 -->
<i class="icon icon-add"></i></td>

<!-- 关闭 -->
<i class="icon icon-close"></i></td>

<!-- 向上 -->
<i class="icon icon-collapse"></i></td>

<!-- 向下 -->
<i class="icon icon-expand"></i></td>

<!-- 向左 -->
<i class="icon icon-back"></i></td>

<!-- 向右 -->
<i class="icon icon-more"></i></td>

<!-- 搜索 -->
<i class="icon icon-search"></i></td>

<!-- 点赞 -->
<i class="icon icon-fabulous"></i></td>

<!-- 已赞 -->
<i class="icon icon-fabulous-normal"></i></td>

<!-- 分享 -->
<i class="icon icon-share"></i></td>

<!-- 查看更多 -->
<i class="icon icon-more2"></i></td>
