<div class="row">
    <div class="span12">
        <div class="demo">12n</div>
    </div>
</div>

<div class="row">
    <div class="span10">
        <div class="demo">10n</div>
    </div>
    <div class="span2">
        <div class="demo">2n</div>
    </div>
</div>

<div class="row">
    <div class="span8">
        <div class="demo">8n</div>
    </div>
    <div class="span4">
        <div class="demo">4n</div>
    </div>
</div>


<!-- 间隔缩紧的栅格样式 -->
<div class="row row-tight">
    <div class="span6">
        <div class="demo">6n</div>
    </div>
    <div class="span6">
        <div class="demo">6n</div>
    </div>
</div>

<div class="row row-tight">
    <div class="span3">
        <div class="demo">3n</div>
    </div>
    <div class="span3">
        <div class="demo">3n</div>
    </div>
    <div class="span3">
        <div class="demo">3n</div>
    </div>
    <div class="span3">
        <div class="demo">3n</div>
    </div>
</div>
