.c-color-gray 
  color #999
.med-main-content-margin 
  margin-top 20px
.med-main-content 
  p 
    margin-bottom 10px
    line-height 26px
.med-img-content 
  justify-content start
  align-items center
  -webkit-box-align center
.med-img-content-img,
.med-img-content-img img 
  border-radius 50%
  width 35px
  height 35px
