.mag-container
  padding-bottom 51px
  overflow-x hidden
.med-ask-btn
  background-color #02b7ca
  color #fff
  font-size 18px
  height 44px
  line-height 44px
  transform translate3d(0, 0, 0)
  pointer-events initial
  text-align center
.med-img-content-img
  border-radius 50%
.article-main-content p,
.article-main-content div,
.article-main-content img
  margin 24px 0
  line-height 28px
button
  &:active
    background-color #02b7ca
.c-color
  color #333
.c-color-gray
  color #999
.c-text-box
  display inline-block
  padding 1px 2px
  margin-bottom 2px
  text-decoration none
  vertical-align middle
  font-size 10px
  line-height 11px
  height 10px
  font-style normal
  font-weight 400
  overflow hidden
  -webkit-box-sizing content-box
  box-sizing content-box
  border-radius 2px
.c-text-box-wenda
  color #01b7c9
  border 1px solid #01b7c9
.c-color-wenda
  color #01b7c9
.align-direction
  text-align center
.med-line-height
  line-height 24px
.med-normal-title
  font-weight normal
.med-line-height26
  line-height 26px
.med-line-height28
  line-height 28px
.med-margin-reduce
  margin-top -3px
