<div class="carousel">
    <mip-carousel layout="responsive" width="600" height="400" indicatorId="mip-carousel-example">
        <a target="_blank" href="https://www.mipengine.org">
            <mip-img src="https://dummyimage.com/600x400" layout="responsive" width="600" height="400"></mip-img>
            <div class="mip-carousle-subtitle line-clamp1">
                这里是title1这里是title1这里是title1这里是title1这里是title1
            </div>
        </a>
        <a target="_blank" href="https://www.mipengine.org">
            <mip-img src="https://www.mipengine.org/static/img/sample_02.jpg" layout="responsive" width="600" height="400"></mip-img>
            <div class="mip-carousle-subtitle line-clamp1">
                这里是title2
            </div>
        </a>
        <a target="_blank" href="https://www.mipengine.org">
            <mip-img src="https://www.mipengine.org/static/img/sample_03.jpg" layout="responsive" width="600" height="400"></mip-img>
            <div class="mip-carousle-subtitle line-clamp1">
                这里是title3
            </div>
        </a>
    </mip-carousel>

    <div class="carousel-dot" id="mip-carousel-example">
        <i class="mip-carousel-activeitem"></i>
        <i></i>
        <i></i>
    </div>
</div>
