<mip-scrollbox data-type="row" class="scrollbox">
    <div data-wrapper>
        <div data-inner>
            <div data-scroller class="flexbox">
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org" class="block">
                        <mip-img src="https://dummyimage.com/300x400?a" width="300" height="400" layout="responsive"></mip-img>
                        <p class="gap-top line-clamp2">
                            两行截断，这是标题文本这是标题文本这是标题文本
                        </p>
                    </a>
                </div>
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org" class="block">
                        <mip-img src="https://dummyimage.com/300x400?b" width="300" height="400" layout="responsive"></mip-img>
                        <p class="gap-top line-clamp2">
                            两行截断，这是标题文本这是标题文本这是标题文本
                        </p>
                    </a>
                </div>
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org" class="block">
                        <mip-img src="https://dummyimage.com/300x400?c" width="300" height="400" layout="responsive"></mip-img>
                        <p class="gap-top line-clamp2">
                            两行截断，这是标题文本这是标题文本这是标题文本
                        </p>
                    </a>
                </div>
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org" class="block">
                        <mip-img src="https://dummyimage.com/300x400?d" width="300" height="400" layout="responsive"></mip-img>
                        <p class="gap-top line-clamp2">
                            两行截断，这是标题文本这是标题文本这是标题文本
                        </p>
                    </a>
                </div>
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org" class="block">
                        <mip-img src="https://dummyimage.com/300x400?e" width="300" height="400" layout="responsive"></mip-img>
                        <p class="gap-top line-clamp2">
                            两行截断，这是标题文本这是标题文本这是标题文本
                        </p>
                    </a>
                </div>
                <div data-item data-col="4">
                    <a href="https://www.mipengine.org" class="block">
                        <mip-img src="https://dummyimage.com/300x400?f" width="300" height="400" layout="responsive"></mip-img>
                        <p class="gap-top line-clamp2">
                            两行截断，这是标题文本这是标题文本这是标题文本
                        </p>
                    </a>
                </div>
                <div data-item data-col="4" class="scrollbox-more">
                    <a href="https://www.mipengine.org" class="block scrollbox-more-wrap">
                        <div class="scrollbox-more-inner">
                            <i class="icon icon-more"></i>
                            <span class="line-clamp1 gap-top">查看更多</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</mip-scrollbox>
