@import './_inc/common.styl'

.guide-content
    layout()
    padding-top 90px
    padding-bottom 150px
    h1
        font-size 36px
        line-height 36px
        font-weight 400
    p
        padding-top 20px
        color #999
        line-height 16px
    ul
        list-style none
        padding-top 60px
        li
            line-height 16px
            padding-top 30px
            &:first-child
                padding-top 0
