{{extend './_inc/layout.html'}}

{{block 'content'}}
<div class="mag-row components-content">
    <div class="components-nav">
        <ul>
            {{each componentsList}}
                <li><a href="#{{ $value.name }}">{{ $value.title }}</a></li>
            {{/each}}
        </ul>
    </div>

    <div class="components">
        <!-- <h1>模板列表</h1> -->
        <div class="components-list">
             <dl>
            {{each componentsList}}
                <dt><h2 id="{{ $value.name }}">{{ $value.title }}</h2></dt>
                <dd>
                    {{each $value.components val}}
                        <ul>
                            <li><mip-iframe height="{{ val.iframe.height }}" width="100" src="/html/{{ val.iframe.url }}" layout="fixed-height"></mip-iframe></li>
                            {{ set ext = $imports.getComponentsExtensions(val.iframe.url) }}
                            {{if ext && ext.length}}
                                <li>
                                    依赖组件代码：
                                </li>
                                <li>
                                    {{each ext text}}
                                        <pre><code>{{text}}</code></pre>
                                    {{/each}}
                                </li>
                            {{/if}}


                            {{ set code = $imports.getComponentsCode(val.iframe.url) }}
                            {{if code}}
                                <li>代码：</li>
                                <li>
                                    {{@ code }}
                                </li>
                            {{/if}}
                        </ul>
                    {{/each}}
                </dd>
            {{/each}}
        </dl>
        </div>
    </div>
</div>
{{/block}}
