@import './_inc/common.styl'
@import './_inc/hljs.styl'

.components
    layout()
    .inner
        display flex
    .article
        padding-bottom 90px
        flex 1 1 auto
        overflow hidden
        padding-left 40px
        .section
            &:target
                h2
                    padding-top 120px
        h2
            padding-top 60px
            font-size 36px
            line-height 36px
            font-weight 400
            & + p
                padding-top 20px
        h3
            font-size 20px
            line-height 20px
            padding-top 35px
            font-weight 400
            & + p
                padding-top 10px
            &:target
                padding-top 120px
        p
            line-height 35px
        .preview
            overflow hidden
            margin-top 30px
            border 1px solid  #f1f1f1
            .title
                height 40px
                line-height 40px
                display flex
                justify-content space-between
                background-color #FAFAFA
                padding-left 21px
                padding-right 21px
                &[accordionbtn]
                    cursor pointer
            .code
                background-color rgba(250, 250, 250, .5)
                display none
                padding 20px
            .iframe
                padding 21px
                &.iframe-noborder
                    padding-left 0 !important
                    padding-right 0 !important
        .scripttag
            .code
                line-height 30px
                display block
    aside
        width 162px
        flex none
        mip-scroll-anchor
            display block
            width 162px
            position fixed
            top 100px
            z-index 10
        ul
            list-style none
        li
            padding-bottom 13px
        a
            display block
            line-height 40px
            height 40px
            font-size 14px
            color rgba(0, 0, 0, .54)
            text-indent 10px
            &:hover
                background-color rgba(0, 0, 0, .02)
                color rgba(0, 0, 0, .54)
            &.current
                font-weight 700
                color rgba(0, 0, 0, .88)
            active()

@media screen and (max-width screenWidth)
    .components
        aside
            display none
        .article
            padding-bottom 60px
            border-left none
            padding-left 0
            h2
                font-size 24px
                line-height 24px
                padding-top 60px
                & + p
                    padding-top 16px
            h3
                font-size 18px
                line-height 18px
                padding-top 50px
                & + p
                    padding-top 5px
            p
                font-size 14px
                line-height 20px
            .preview
                margin-top 20px
                .title
                    padding-left 16px
                    padding-right 16px
                .iframe
                    padding 16px
