@import './_inc/common.styl'

.font-size-15
	font-size 42px
	color #000

.font-size-4
	font-size 20px
	color #999

.container
	width 100%

.bggray
	background-color #fafafa

.content 
	width 1110px
	margin auto

.banner
	background #000 url(./img/banner.png) center center
	background-repeat no-repeat
	width 100%
	height 468px
	background-size cover

.banner-title
	position relative
	top 50%
	transform translateY(-50%)
	color #fff
	text-align center

.banner-title h1
	font-size 47px
	margin 0

.banner-title h4
	margin-bottom 1.67em

.banner-title a
	border-color #fafafa
	height .38rem
	padding .05rem .25rem
	color #fafafa

/*中部point*/
.imgtext-single
	height 720px
	padding 50px 0

.point
	height 147px
	display flex
	align-items center
	box-align center
	box-lines single
	flex-align center
	flex-flow row nowrap
	background-color #fff

.point-single
	box-flex 1
	flex 1 auto
	text-align left
	height 60px
	padding-left 66px

.point-single h1
	margin 0
	color #000
	font-weight normal

.point-single .subtitle
	font-size 16px
	color #999

.imgtext-des
	margin-top 15px

.imgtext-tag
	height 40px
	width 150px
	text-align center
	color #000
	margin-top 30px
	padding-top 5px

.imgtext-right-text
	margin-left 123px

.imgtext-icon
	margin-left 5px
	font-size 12px

.component
	background url(./img/component.png) no-repeat left center
	background-size 56px


.template
	background url(./img/template.png) no-repeat left center
	background-size 56px


.code
	background url(./img/code.png) no-repeat left center
	background-size 56px

.mag-container
	background-color #fafafa

.imgtext-link
	position relative
	top 50%
	transform translateY(-50%)

.shortcut
	background-color #fff
	text-align center
	margin-bottom 90px
	padding 0
	padding-top 90px

.shortcut h1
	display block
	margin-top 0
	margin-bottom 45px

.shortcut-single 
	height 251px
	width 345px
	padding 45px 0px
	border 1px solid #f1f1f1
	border-radius 6px

.shortcut-single:nth-child(2)
	margin 0px 21px

.shortcut-subtitle
	font-size 20px
	color #000
	margin-top 30px
	margin-bottom 20px

.shortcut-small-font
	font-size 16px
	color rgba(0, 0, 0, .56)

.shortcut img
	margin auto
	width 75px