@import './_inc/common.styl'

body
    overflow-x: hidden
.inner
    layout()
    h3
        padding-top 100px
        font-size 30px
        color #000000
    ul
        margin-top 40px
        display flex
        justify-content space-between
    li
        list-style none
        width 270px
        height 360px
        border 1px solid #F1F1F1
        border-radius 6px
        text-align center
        transition all .1s
        margin 0 0.5%
        &:hover
            box-shadow 0 5px 10px 0 rgba(0, 0, 0, .1)

.case
    .inner
        margin-bottom 80px
    mip-wqz-slide
        text-align center
        .slide-button
            margin-top -100px

    .slide-item
        mip-img
            border 1px solid #f0f0f0
        &:hover
            mip-img
                box-shadow 0 6px 20px rgba(0,0,0,0.05)
    h3
        margin-bottom 40px
    mip-img
        cursor pointer
    h4
        font-weight normal
        font-size 20px
        margin: 26px 0 10px 0
    p
        font-size 18px
        max-width 180px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        opacity .6
        margin 0 auto
    a
        display none
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        z-index 9
@media screen and (max-width 600px)
    .inner
        layout()
        width 100%
        padding 0 27px
        h3
            padding-top 30px
            font-size 32px
            text-align center
        ul
            margin-top 10px
            flex-wrap wrap
        li
            width 47%
            margin-bottom 3%
            height 230px
            .intro-icon
                height 100px
                background-size auto 50px
            .intro-title
                font-size 15px
                line-height 31px
                margin-bottom 0
            .intro-content
                width 140px
                font-size 12pxpa
    .case
        .inner
            padding 0;
            margin-bottom 80px
        a
            display: block
        mip-wqz-slide
            .slide-container
                overflow auto!important
                &::-webkit-scrollbar
                    display:none
            .slide-button
                display: none
        .slide-item
            width 120px!important
            &:nth-child(1)
                margin-left 17px
            &:last-child
                padding-right 17px
                box-sizing: content-box
            h4
                font-size 13px
                margin: 14px 0 4px 0
            p
                font-size 12px
                max-width  108px
                padding-bottom 10px
    #preview-wrap
        display: none!important
    mip-wqz-slide
        .slide-item
            width 120px

@media screen and (max-width 320px)
    .intro
        .inner
            ul
                justify-content center
                li
                    width 80%
    .partner
        .inner
            ul
                justify-content space-around
                li
                    width 40%

.place-holder
    height 600px
.slide-button
    opacity 0!important
