@import './_inc/nav.styl'
@import './_inc/footer.styl'

.templates
    max-width: 1000px
    margin: 30px auto
    padding: 0 10px

.templates-list
    dt
        font-size: 16px
        margin-top: 50px
    ul
        list-style: none
        background-color: #f0f0f0
        padding: 10px
        margin-top: 20px
