@font-face {font-family: "xiaoshuo";
  src: url('./font/xiaoshuo.eot?t=1515560671046'); /* IE9*/
  src: url('./font/xiaoshuo.eot?t=1515560671046#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./font/xiaoshuo.woff') format('woff'),
  url('./font/xiaoshuo.ttf?t=1515560671046') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./font/xiaoshuo.svg?t=1515560671046#xiaoshuo') format('svg'); /* iOS 4.1- */
}

.icon-xiaoshuo {
  font-family:"xiaoshuo" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paihangbang:before { content: "\e663"; }

.icon-mianfei:before { content: "\e665"; }

.icon-tuijian:before { content: "\e668"; }

