@import './variables.styl'

html
    body 
        line-height unset
#header
    padding-top 32px
    padding-left margin-left
    padding-right margin-right
    .left, .right
        position absolute
        top 0
        z-index 10
    .left
        left margin-left
        text-align left
    .right
        right margin-right
    a
        width 22px
        height header-hegiht
        line-height header-hegiht
        color #333
    h4
        margin 0
        padding 0 50px
        text-align center
        font-size 24px
        font-weight bold
