.text-box
    display inline-block
    padding 1px 2px
    margin-bottom 2px
    text-decoration none
    vertical-align middle
    font-size 10px
    line-height 11px
    height 10px
    font-style normal
    font-weight 400
    overflow hidden
    -webkit-box-sizing content-box
    box-sizing content-box
    border-radius 2px
    &.text-box-gray
        color #999
        border 1px solid #e3e3e3

// 文本对齐
.text-right
    text-align right
.text-center
    text-align center

ul
    list-style none

// 黑色按钮
.btn.btn-black,
button.btn-black
    border-color #707379
    color #000
    text-align center
    padding-left 0
    padding-right 0

.color-gray
    color #555

// 按钮点击态
a
    -webkit-tap-highlight-color rgba(0, 0, 0, .2)

// mag-design改写
mip-scrollbox [data-wrapper] [data-scroller],
mip-scrollbox [data-wrapper] [data-inner],
mip-scrollbox [data-wrapper] [data-item]
    position: relative;

.scrollbox-more .scrollbox-more-wrap
    position: absolute;
    height: 100%;
    width: 100%;