.mag-text-box
    display inline-block
    padding 1px 2px
    margin-bottom 2px
    text-decoration none
    vertical-align middle
    font-size 10px
    line-height 11px
    height 10px
    font-style normal
    font-weight 400
    overflow hidden
    -webkit-box-sizing content-box
    box-sizing content-box
    border-radius 2px
    &.mag-text-box-gray
        color #999
        border 1px solid #e3e3e3

// 块
.mag-block
    display block

// 文本对齐
.mag-text-right
    text-align right
.mag-text-center
    text-align center

ul
    list-style none

// 黑色按钮
.btn.mag-btn-black,
button.mag-btn-black
    border-color #707379
    color #000
    text-align center
    padding-left 0
    padding-right 0

.mag-color-gray
    color #555
