@import './_inc/styl/base.styl'

html,body.show-xiaoshuo-container
    background #fff
    line-height unset
    p.line-clamp1.gap-top
        font-size 16px

.catalog-menu
    position relative
    background-color #fff
    select
        word-break normal
        word-wrap normal
        position relative
        -webkit-appearance none
        appearance none
        display inline-block
        padding 0 .24rem 0 .08rem
        width 100%
        height .38rem
        vertical-align middle
        line-height normal
        font-size .14rem
        color #000
        background-color transparent
        border 1px solid #eee
        border-radius 0
        overflow hidden
        outline none

.catalog-list
    li
        border-bottom 1px solid #f1f1f1
        line-height 30px

.catalog-page
    .disabled
        color #a0a0a0
        cursor not-allowed

/*目录样式  */
#main .gap-bottom {
    padding-bottom: .1rem;
    margin-bottom: 0;
    padding-left: .17rem;
    padding-right: .17rem;
    /*border-bottom: #0c1a44 5px solid;*/
}
#main .gap-top {
    padding-top: .1rem;
    margin-top: 0;
}
/**/
#main .container{
    padding-left: 0;
    padding-right: 0;
}
#main .row{
    padding-right: .17rem;
    padding-left: .17rem;
}