{{extend './_inc/template/layout.html'}}

{{block 'content'}}
    <div class="container catalog">
        <div class="row catalog-title">
            <div class="span6">
                <h4>目录</h4>
            </div>
            <div class="span6 text-right">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="小说正文页"  href="###" class="catalog-order">
                    <mip-catalog-reverse>
                        <i class="icon icon-order"></i>倒序
                    </mip-catalog-reverse>
                </a>
            </div>
        </div>

        <!-- 章节显示列表，循环 li 标签 -->
        <div class="catalog-list">
            <ul class="catalog-li">
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第1章：灵魂重生</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第2章：武魂提升</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第3章：牛刀小试</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第4章：笑里藏刀</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第5章：云月儿</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第6章：情断玉碎</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第7章：击败陈松</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第8章：催化武魂</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第9章：开脉四重</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第10章：黄级四品</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第11章：针锋相对</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第12章：暴血狼魂</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第13章：武魂妙用</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第14章：击败钟真</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第15章：旧爱成恨</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第16章：丹宗林枫</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第17章：丹房传艺</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第18章：林枫武魂</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第19章：一场好戏</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第20章：连升三级</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第21章：吊打张大力</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第22章：魂力吞噬</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第23章：先发制人</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第24章：锁心箭术</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第25章：佳人赠弓</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第26章：妖兽火蟒</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第27章：救人惹祸</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第28章：拳法奥秘</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第29章：生死之约</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第30章：旗鼓相当</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第31章：战力惊人</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第32章：生不如死</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第33章：十脉传说</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第34章：借魂融脉</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第35章：十脉相连</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第36章：内门杀机</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第37章：落日神威</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第38章：淬体三分</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第39章：强势反击</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第40章：武师相助</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第41章：是惊是悔</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第42章：寸心炼血</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第43章：淬体二重</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第44章：订立规则</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第45章：一拳打废</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第46章：十连胜</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第47章：震慑全场</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第48章：击败仇敌</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第49章：血池奖励</p>
                    </a>
                </li>
                <li>
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="小说正文页" href="read.html" class="block">
                        <p class="line-clamp1 gap-top gap-bottom">第50章：百川脉</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{{/block}}
