@import './_inc/styl/base.styl'

html,body.show-xiaoshuo-container
    background #fff
    line-height unset
    p.line-clamp1.gap-top
        font-size 16px
 
.category
    border-bottom 8px solid #f5f5f5
    &:last-child
        border-bottom none

.category-item
    background-color #f8f8f8
    a
        text-align center
        padding 10px 0
    .text
        color #999
