{{extend './_inc/template/layout.html'}}

{{block 'content'}}
    <!-- 分类循环 -->
    <div class="container category">
        <!-- 分类标题 -->
        <h4 class="line-clamp1">男生分类</h4>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">玄幻</p>
                        <p class="line-clamp1 text gap-top-small">24413</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">都市</p>
                        <p class="line-clamp1 text gap-top-small">14698</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">奇幻</p>
                        <p class="line-clamp1 text gap-top-small">4517</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">仙侠</p>
                        <p class="line-clamp1 text gap-top-small">7113</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">武侠</p>
                        <p class="line-clamp1 text gap-top-small">1285</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">历史</p>
                        <p class="line-clamp1 text gap-top-small">7031</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">军事</p>
                        <p class="line-clamp1 text gap-top-small">1249</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">游戏</p>
                        <p class="line-clamp1 text gap-top-small">1108</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">竞技</p>
                        <p class="line-clamp1 text gap-top-small">403</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container category">
        <!-- 分类标题 -->
        <h4 class="line-clamp1">女生分类</h4>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">现代言情</p>
                        <p class="line-clamp1 text gap-top-small">59239</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">古代言情</p>
                        <p class="line-clamp1 text gap-top-small">38383</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">青春</p>
                        <p class="line-clamp1 text gap-top-small">547</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">幻想言情</p>
                        <p class="line-clamp1 text gap-top-small">478</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">灵异</p>
                        <p class="line-clamp1 text gap-top-small">374</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <!-- 空白元素 -->
            </div>
        </div>
    </div>


    <div class="container category">
        <!-- 分类标题 -->
        <h4 class="line-clamp1">出版分类</h4>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">成功励志</p>
                        <p class="line-clamp1 text gap-top-small">4519</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">计算机</p>
                        <p class="line-clamp1 text gap-top-small">3429</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">经济管理</p>
                        <p class="line-clamp1 text gap-top-small">3128</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">科技</p>
                        <p class="line-clamp1 text gap-top-small">1883</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">历史传记</p>
                        <p class="line-clamp1 text gap-top-small">1643</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">两性情感</p>
                        <p class="line-clamp1 text gap-top-small">1382</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- 循环内容，一个 .category-item 为一个元素 -->
        <div class="row gap-top">
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">亲子少儿</p>
                        <p class="line-clamp1 text gap-top-small">1033</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">社会科学</p>
                        <p class="line-clamp1 text gap-top-small">831</p>
                    </a>
                </div>
            </div>
            <div class="span4">
                <div class="category-item">
                    <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                    <a data-type="mip" data-title="列表页" href="list.html" class="block">
                        <p class="line-clamp1">生活</p>
                        <p class="line-clamp1 text gap-top-small">671</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/block}}
