@import './_inc/styl/base.styl'

html,body.show-xiaoshuo-container
    background #fff
    line-height unset
    p.line-clamp1.gap-top
        font-size 16px

.category-list
    ul
        padding-left margin-left
        padding-right margin-right
    li
        padding 10px 0
        border-bottom 1px solid #eee
    .author
        color #999
    .desc
        color #555
.mip-infinitescroll-loading
    line-height 40px
    text-align center
    font-size 12px
    color #999
