{{extend './_inc/template/layout.html'}}

{{block 'content'}}
    <!-- 分类循环 -->
    <div class="category-list">
        <mip-infinitescroll data-src="https://www.mipgo.org/html/templates/xiaoshuo/api/list.json" template="myTemplate">
            <div class="mip-infinitescroll-results">
                <ul>
                    <li>
                        <a href="view.html" class="row">
                            <div class="span4">
                                <mip-img width="271" height="362" layout="responsive" src="./img/jiangye.png" alt="将夜"></mip-img>
                            </div>
                            <div class="span8">
                                <h4 class="line-clamp1">将夜</h4>
                                <p class="line-clamp1 author gap-top-small">作者：猫腻</p>
                                <p class="line-clamp3 desc gap-top-small">一段可歌可泣可笑可爱的草根崛起史。 一个物质要求宁滥勿缺的开朗少年行。 书院后山里永恒回荡着他疑惑的声音： 宁可永劫受沉沦，不从诸圣求解脱？ …… …… （当然，这个简介肯定是过几天就会认真改的，我不会持续如此无聊的。）</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="view.html" class="row">
                            <div class="span4">
                                <mip-img width="271" height="362" layout="responsive" src="./img/yinhu.png" alt="银狐"></mip-img>
                            </div>
                            <div class="span8">
                                <h4 class="line-clamp1">银狐</h4>
                                <p class="line-clamp1 author gap-top-small">作者：孑与2</p>
                                <p class="line-clamp3 desc gap-top-small">人的第一要求就是活着，第二要求还是活着，第三要求依旧是活着……在某些特定的环境下，活着就成了一种奢望。在地狱中我们仰望天堂，把手伸出去，虽然不能触碰到天堂，却能让我们距离天堂更近一些。</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="view.html" class="row">
                            <div class="span4">
                                <mip-img width="271" height="362" layout="responsive" src="./img/changshengjie.png" alt="长生界"></mip-img>
                            </div>
                            <div class="span8">
                                <h4 class="line-clamp1">长生界</h4>
                                <p class="line-clamp1 author gap-top-small">作者：辰东</p>
                                <p class="line-clamp3 desc gap-top-small">世上谁人能不死？任你风华绝代，艳冠天下，到头来也是红粉骷髅；任你一代天骄，坐拥万里江山，到头来也终将化成一抔黄土。不过，关于长生不死的传说却始终流传于世。故老相传，超脱于人世间之外，有一个浩大的长生界……</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="view.html" class="row">
                            <div class="span4">
                                <mip-img width="271" height="362" layout="responsive" src="./img/gongziqianqiu.png" alt="公子千秋"></mip-img>
                            </div>
                            <div class="span8">
                                <h4 class="line-clamp1">公子千秋</h4>
                                <p class="line-clamp1 author gap-top-small">作者：府天</p>
                                <p class="line-clamp3 desc gap-top-small">一场劫火之后，越千秋被草根出身，子孙满堂的越老太爷抱回了家。这个天下有世家，也有自以为清高正确的书生。这个天下有江湖，也有不甘仰朝廷鼻息的门派。儒以文乱法，侠以武犯禁。纷争和精彩并存，机遇和风险同在。但在鹰击长空，鱼跃大海之前，越千秋必须得解决自己的地位问题。身为养子，他是该谨小慎微，蛰伏待发，还是活得恣意逍遥，我行我素？</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="view.html" class="row">
                            <div class="span4">
                                <mip-img width="271" height="362" layout="responsive" src="./img/morizhizishu.png" alt="末日之子书"></mip-img>
                            </div>
                            <div class="span8">
                                <h4 class="line-clamp1">末日之子书</h4>
                                <p class="line-clamp1 author gap-top-small">作者：夏染雪</p>
                                <p class="line-clamp3 desc gap-top-small">日之子书的作为一个普通的大龄女青年，她平日里最爱的就是暗恋楼上的男神，守着一份几千块的工作，守着父母留下来的房子，就想一辈子这么过下去，她没有野心，也没有什么雄心壮志，就一简单顺从的人，不过，谁又知道，一场突如其来的末日浩劫改变了她，也是改变了所有人的生活以至命运。 </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <script type="application/json">
            {
                "rn": 40,
                "pn": 1,
                "prn": 6,
                "pnName": "pn",
                "bufferHeightPx": 40,
                "loadingHtml": "正在加载...",
                "loadFailHtml": "加载失败~",
                "loadOverHtml": "没有数据了~"
            }
            </script>
            <template type="mip-mustache" id="myTemplate">
                <li>
                    <a href="view.html" class="row">
                        <div class="span4">
                            <mip-img width="271" height="362" layout="responsive" src="img/changshengjie.png" alt="长生界"></mip-img>
                        </div>
                        <div class="span8">
                            <h4 class="line-clamp1">长生界</h4>
                            <p class="line-clamp1 author gap-top-small">作者：长生</p>
                            <p class="line-clamp3 desc gap-top-small">日之子书的作为一个普通的大龄女青年，她平日里最爱的就是暗恋楼上的男神，守着一份几千块的工作，守着父母留下来的房子，就想一辈子这么过下去，她没有野心，也没有什么雄心壮志，就一简单顺从的人，不过，谁又知道，一场突如其来的末日浩劫改变了她，也是改变了所有人的生活以至命运。 </p>
                        </div>
                    </a>
                </li>
            </template>
            <div class="mip-infinitescroll-loading"></div>
        </mip-infinitescroll>
    </div>
{{/block}}
