{{extend './_inc/template/layout.html'}}

{{block 'content'}}
    <div class="container mybook">
        <!-- 循环元素，每个 .span4 是一个循环 -->
        <div class="row">
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/changshengjie.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">长生界</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">已读98%</p>
                </a>
            </div>
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/gongziqianqiu.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">公子千秋</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">已读1%</p>
                </a>
            </div>
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/jiangye.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">将夜</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">未读</p>
                </a>
            </div>
        </div>

        <!-- 循环元素，每个 .span4 是一个循环 -->
        <div class="row">
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/morizhizishu.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">末日之子书</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">已读43%</p>
                </a>
            </div>
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/titianxingdao.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">替天行盗</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">已读3%</p>
                </a>
            </div>
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/wuhengtiandi.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">武横天地</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">未读</p>
                </a>
            </div>
        </div>

        <!-- 循环元素，每个 .span4 是一个循环 -->
        <div class="row">
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/xitongjunguncu.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">系统君滚粗</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">未读</p>
                </a>
            </div>
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/xiuluotiandi.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">修罗天帝</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">未读</p>
                </a>
            </div>
            <div class="span4">
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="阅读小说" href="view.html" class="block">
                    <mip-img width="271" height="362" layout="responsive" src="./img/yinhu.png"></mip-img>
                    <p class="line-clamp1 gap-top-small">银狐</p>
                    <p class="line-clamp1 gap-top-small text gap-bottom">未读</p>
                </a>
            </div>
        </div>
    </div>
{{/block}}
