@import './_inc/styl/base.styl'

html[mip-xiaoshuo-read-theme="default"]
    li[mode-default]
        display none
    footer
        background-color #eee
        color #333

html[mip-xiaoshuo-read-theme="night"]
    li[mode-night]
        display none
    footer
        background-color #000
        color #333

html[mip-xiaoshuo-read-theme="paper"]
    li[mode-default]
        display none
    footer
        background-color #ecdabb
        color #412B1A

html[mip-xiaoshuo-read-theme="green"]
    li[mode-default]
        display none
    footer
        background-color #d7e0cb
        color #3B3F2F
html body
    line-height 1.67
.mip-xiaoshuo-read-control-nav
    li
        text-align center
    .icon-xiaoshuo
        font-size 20px
