@import './_inc/styl/base.styl'

// 主题
// 默认
.theme-default
    .content
        background-color #eee
        color #333
// 护眼
.theme-green
    .content
        background-color #d7e0cb
        color #3B3F2F
// 纸张
.theme-zhi
    .content
        background-color #ecdabb
        color #412B1A
// 夜间
.theme-ye
    .content
        background-color #000
        color #333
