@import './_inc/styl/base.styl'

h4
    font-weight normal
.detail-info
    p
        color #555
        font-size 14px
    .gap-top-large
        margin-top .2rem
    .row-bottom
        margin-bottom -.06rem
    .btn
        font-size 14px
        height .38rem
        line-height .38rem
        div
            line-height .1rem
.detail-desc
    
    .gap-top-small
        margin-top .1rem

.detail-catalog
    padding-bottom .1rem
    li
        border-bottom 1px solid #f1f1f1
        &:last-child
            border-bottom none
        a
            overflow hidden
        span
            color #999
            width 100px

