{{extend './_inc/template/layout.html'}}

{{block 'content'}}
    <div class="container detail-info">
        <div class="row">
            <div class="span4">
                <mip-img width="271" height="362" layout="responsive" src="./img/jiangye.png"></mip-img>
            </div>
            <div class="span8">
                <p class="line-clamp1">作者：心梦无痕</p>
                <p class="line-clamp1 gap-top-small">分类：东方玄幻</p>
                <p class="line-clamp1 gap-top-small">状态：连载中</p>
                <p class="line-clamp1 gap-top-small">最新章节：灭晋云翼</p>
                <p class="line-clamp1 gap-top-small">更新时间：2017年12月27日</p>
            </div>
        </div>

        <div class="row gap-top-large row-bottom">
            <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
            <div class="span4"><a data-type="mip" href="read.html" class="btn btn-block btn-outline btn-black">立即阅读</a></div>
            <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
            <div class="span4"><a data-type="mip" href="catalog.html" class="btn btn-block btn-outline btn-black">查看目录</a></div>
        </div>
    </div>

    <hr class="hr-xl">

    <div class="container detail-desc">
        <h4>内容简介</h4>
        <div class="gap-top-small row-bottom">
            <mip-showmore bottomshadow='1' maxheight='100' id="detail-desc">
                <div class = "content">陆宇，神武天域最传奇的圣魂天师，却被妻子与兄弟联手暗害，重生到数百年后的同名少年身上。重活一世，陆宇立志要手刃那对狗男女，以武逆天，重回天域，融炼万法，称尊天地！《神武天帝》作者：心梦无痕陆宇，神武天域最传奇的圣魂天师，却被妻子与兄弟联手暗害，重生到数百年后的同名少年身上。重活一世，陆宇立志要手刃那对狗男女，以武逆天，重回天域，融炼万法，称尊天地！《神武天帝》作者：心梦无痕</div>
            </mip-showmore>
            <div on="tap:detail-desc.toggle" data-closeclass="details-open" class="details">
                <div class="details-tip-expand">收起<i class="icon icon-up"></i></div>
                <div class="details-tip-close">展开<i class="icon icon-down"></i></div>
            </div>
        </div>
    </div>

    <hr class="hr-xl">

    <div class="container detail-catalog">
        <h4>章节内容</h4>
        <ul class="row-bottom">
            <li>
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="第1176章 灭晋云翼灭晋云翼灭晋云翼灭晋云翼" href="read.html" class="block">
                    <div class="gap-top gap-bottom flexbox">
                        <p class="line-clamp1">第1176章 灭晋云翼灭晋云翼灭晋云翼灭晋云翼</p>
                        <span class="line-clamp1 text-right">9天前</span>
                    </div>
                </a>
            </li>
            <li>
                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                <a data-type="mip" data-title="第1176章 灭晋云翼" href="read.html" class="block">
                    <div class="gap-top gap-bottom flexbox">
                        <p class="line-clamp1">第1176章 灭晋云翼</p>
                        <span class="line-clamp1 text-right">9天前</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <hr class="hr-xl">

    <div class="container detail-recommend">
        <div class="row">
            <div class="span8">
                <h4>书籍推荐</h4>
            </div>
        </div>
        <div class="row-tile gap-top">
            <mip-scrollbox data-type="row" class="scrollbox">
                <div data-wrapper>
                    <div data-inner>
                        <div data-scroller class="flexbox">
                            <div data-item data-col="4">
                                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                                <a data-type="mip" data-title="长生界" href="view.html" class="block">
                                    <mip-img
                                        src="./img/changshengjie.png"
                                        width="300"
                                        height="400"
                                        layout="responsive"
                                    >
                                    </mip-img>
                                    <p class="line-clamp1 gap-top-small">长生界</p>
                                </a>
                            </div>
                            <div data-item data-col="4">
                                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                                <a data-type="mip" data-title="公子之秋" href="view.html" class="block">
                                    <mip-img
                                        src="./img/gongziqianqiu.png"
                                        width="300"
                                        height="400"
                                        layout="responsive"
                                    >
                                    </mip-img>
                                    <p class="line-clamp1 gap-top-small">公子之秋</p>
                                </a>
                            </div>
                            <div data-item data-col="4">
                                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                                <a data-type="mip" data-title="将夜" href="view.html" class="block">
                                    <mip-img
                                        src="./img/jiangye.png"
                                        width="300"
                                        height="400"
                                        layout="responsive"
                                    >
                                    </mip-img>
                                    <p class="line-clamp1 gap-top-small">将夜</p>
                                </a>
                            </div>
                            <div data-item data-col="4">
                                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                                <a data-type="mip" data-title="武横天地" href="view.html" class="block">
                                    <mip-img
                                        src="./img/wuhengtiandi.png"
                                        width="300"
                                        height="400"
                                        layout="responsive"
                                    >
                                    </mip-img>
                                    <p class="line-clamp1 gap-top-small">武横天地</p>
                                </a>
                            </div>
                            <div data-item data-col="4">
                                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                                <a data-type="mip" data-title="系统君滚粗" href="view.html" class="block">
                                    <mip-img
                                        src="./img/xitongjunguncu.png"
                                        width="300"
                                        height="400"
                                        layout="responsive"
                                    >
                                    </mip-img>
                                    <p class="line-clamp1 gap-top-small">系统君滚粗</p>
                                </a>
                            </div>
                            <div data-item data-col="4">
                                <!--data-type="mip" 用于两个MIP页之间跳转，应保证落地页同样为MIP页-->
                                <a data-type="mip" data-title="修罗天帝" href="view.html" class="block">
                                    <mip-img
                                        src="./img/xiuluotiandi.png"
                                        width="300"
                                        height="400"
                                        layout="responsive"
                                    >
                                    </mip-img>
                                    <p class="line-clamp1 gap-top-small">修罗天帝</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </mip-scrollbox>
        </div>
    </div>
{{/block}}
