@import './_inc/styl/base.styl'

.detail-info
    border-bottom 8px solid #f5f5f5
    p
        color #555
.detail-desc
    border-bottom 8px solid #f5f5f5
.detail-desc-inner
    color #555
.detail-desc-btn
    text-align center
    color #555
    font-size 14px
    i.mag-icon
        font-size 12px
    span
        display none
    span:last-child
        display block
    .mip-xiaoshuo-view-open
        span:first-child
            display block
        span:last-child
            display none

.detail-catalog
    border-bottom 8px solid #f5f5f5
    li
        border-bottom 1px solid #f1f1f1
        &:last-child
            border-bottom none
        a
            overflow hidden
        span
            color #999
            text-align right
            width 100px

// 评论
.detail-comment
    border-bottom 8px solid #f5f5f5
    > ul > li
        overflow hidden
        border-bottom 1px solid #f1f1f1
        &:last-child
            border-bottom none
