@import './_inc/styl/base.styl'

.banner
    position relative
    .nav
        position absolute
        bottom 0
        width 100%
        left 0
        text-align center

.menu
    text-align center
    .mag-icon
        font-size 30px
    a
        display block

.booklist
    .mag-container
        border-top 8px solid #f5f5f5


.booklist-title
    a
        display block
    .mag-span4
        text-align right

.booklist-inner
    a
        display block

.lovelist
    border-top 8px solid #f5f5f5
    ul
        list-style none
    li
        padding 10px 0
        border-bottom 1px solid #eee
    .author
        color #999
    .desc
        color #555
