@import './_inc/styl/base.styl'

.banner
    position relative
    .nav
        position absolute
        bottom 0
        width 100%
        left 0
        text-align center

.menu
    .icon-xiaoshuo, .icon
        font-size 30px

.lovelist
    li
        padding 10px 0
        border-bottom 1px solid #eee
    .author
        color #999
    .desc
        color #555
