<!DOCTYPE html>
<html lang="{{ page.lang || 'zh-cn' }}" mip>
{{block 'head'}}{{include '../../../../base/inc/head.html'}}{{/block}}
{{block 'bodyprefix'}}
<body>
{{/block}}
    <mip-shell-xiaoshuo mip-shell id="xiaoshuo-shell">
        <script type="application/json">
        {
            "routes": [{
                "pattern": "/.*/",
                "meta": {
                    "header": {
                        "show": true,
                        "title": "雪中悍刀行"
                    },
                                        "pageType": "page",
                    "officeId": "1609571708270959",
                                        "footer": {
                        "actionGroup": [
                            {"name": "catalog", "text": "目录"},
                            {"name": "darkmode", "text": "夜间模式", "text2": "白天模式"},
                            {"name": "settings", "text": "更多设置"}
                        ],
                        "hrefButton": {
                            "previous": "上一页",
                            "next": "下一页",
                            "previous-href": "",
                            "next-href": "http://www.xmkanshu.com/book/mip/read?bkid=189169121&crid=1&fr=bdgfh&mip=1&pg=2"
                        }
                    },
                    "catalog": [{"name":"番外篇_番外第十章","link":"http:\/\/www.xmkanshu.com\/book\/mip\/read?bkid=189169121&crid=1008&fr=bdgfh&mip=1"}]
            }
            }]}
    </script>
    </mip-shell-xiaoshuo>
    {{block 'header'}}{{include './header.html'}}{{/block}}
    <div id="main">{{block 'content'}}{{/block}}</div>
    {{block 'footer'}}{{include './footer.html'}}{{/block}}
    {{block 'scripts'}}{{include '../../../../base/inc/scripts.html'}}{{/block}}
{{block 'bodysuffix'}}
</body>
{{/block}}
</html>
