{{extend '../../base/templates.html'}}

{{block 'content'}}
<div class="mag-container">
    <!--友情提示-->
    {{include './_common/message_tip.html'}}

    <!--消息对话-->
    <div class="med-message-content">
        {{each message.messageList}}
            <section class="med-message-text {{if $value.user == 'user'}} med-message-user {{else}} med-message-doctor {{/if}}">
                <div class="{{ if $value.user == 'doctor'}} med-message-text-left {{else if $value.user == 'user'}} med-message-text-right {{/if}}">
                    {{ if $value.user == 'doctor'}} <div class="angle-border"></div> {{/if}}
                    <div class="angle"></div>
                    <div><mip-img src="img/resize.jpg" class="mag-img-circle"/></div>
                </div>
                
                {{if $value.type == 'text'}}
                    <div class="med-message-text-center">
                        <div class="med-message-text-center-inner">{{ $value.content }}</div>
                    </div>
                {{else if $value.type == 'pic'}}
                    <div class="med-message-img-center">
                        <div class="med-message-img-center-inner">
                            <mip-img src="img/resize.jpg" />
                        </div>
                    </div>
                {{else if $value.type == 'audio'}}
                        <div class="med-message-img-center">
                       
                            <mip-audio
                            src="https://mip-doc.bj.bcebos.com/guitar.mp3"
                            controls
                            customControls=".med-mip-audio-controller"
                            layout="container"
                            >
                                <div class="med-mip-audio-controller mag-gap-top-large">
                                    {{if $value.user == 'user'}}<span class="med-mip-audio-time">{{ $value.time }}</span>{{/if}}
                                    <div class="mip-audio-play-pause">
                                        <span class="med-mip-audio-icon"></span>
                                    </div>
                                    {{if $value.user == 'doctor'}}<span class="med-mip-audio-time">{{ $value.time }}</span>{{/if}}
                                    
                                </div>
                            </mip-audio>
                        
                    </div>
                {{/if}}
            </section>
        {{/each}}
        
    </div>

    <button class="med-ask-btn btn-block">快速咨询</button>
</div>
{{/block}}
