{{extend '../../base/templates.html'}}

{{block 'content'}}
<div class="mag-container">
    <!--友情提示-->
    {{include './_common/message_tip.html'}}

    <!--消息对话-->
    <mip-showmore maxheight='{{ page.maxHeight }}' animatetime='.3' id="med-showmore" bottomshadow='1' class="med-article-showmore-gap">
            
    <div class="med-message-content">
        {{each message.messageList}}
            <section class="med-message-text mag-gap-top-large {{if $value.user == 'user'}} med-message-user {{else}} med-message-doctor {{/if}}">
                <div class="{{ if $value.user == 'doctor'}} med-message-text-left {{else if $value.user == 'user'}} med-message-text-right {{/if}}">
                    {{ if $value.user == 'doctor'}} <div class="angle-border"></div> {{/if}}
                    <div class="angle"></div>
                    <div><mip-img src="{{$value.avatar}}" class="mag-img-circle"/></div>
                </div>
                
                {{if $value.type == 'text'}}
                    <div class="med-message-text-center">
                        <div class="med-message-text-center-inner">{{ $value.content }}</div>
                    </div>
                {{else if $value.type == 'pic'}}
                    <div class="med-message-img-center">
                        <div class="med-message-img-center-inner">
                            <mip-img src="{{$value.content}}" />
                        </div>
                    </div>
                {{else if $value.type == 'audio'}}
                        <div class="med-message-img-center">
                       
                            <mip-audio
                            src="{{$value.content}}"
                            controls
                            layout="container"
                            >
                                <div class="med-mip-audio-controller mag-gap-top-large" controller>
                                    {{if $value.user == 'user'}}<span class="med-mip-audio-time font-size-s c-color-gray audio-time-total" total-time></span>{{/if}}
                                    <div class="mip-audio-play-pause audio-control" play-button>
                                        <span class="med-mip-audio-icon"></span>
                                    </div>
                                    {{if $value.user == 'doctor'}}<span class="med-mip-audio-time font-size-s c-color-gray audio-time-total" total-time></span>{{/if}}
                                </div>
                            </mip-audio>
                    </div>
                {{/if}}
            </section>
        {{/each}}
    </div>
    </mip-showmore>

    <div on="tap:med-showmore.toggle" data-closeclass="mip-showmore-open" class="align-direction med-showmore-btn font-size-s mag-gap-top mag-gap-bottom">
            
        <div class="med-showmore-inner">
            <span class="show">{{ page.showmore.hidden }}<span class="icon mag-gap-left-small"></span></span>
            <span class="hidden">{{ page.showmore.show }}<span class="icon mag-gap-left-small"></span></span>
        </div>
        
    </div>

</div>
<mip-fixed type="bottom" class="med-ask-btn">
    {{ button }}
</mip-fixed>
{{/block}}
