@import './_common/common.styl'
@import './_common/article_title_big.styl'
@import './_common/article_info.styl'


.med-article-tag{
    text-align:center;
}

.med-showmore p{
    margin: 10px;
}

.med-showmore-btn {
    text-align: center;
    margin:10px;
    display:block !important;
    position: relative;
}

.med-showmore-btn:after {
    content:"";
    position: absolute;
    width: 6px;
    height: 6px;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    font-weight:bold;
    top: 3px;
    left:46%;
    transform: rotate(315deg) translate(25px,27px);
    -webkit-transform: rotate(315deg) translate(25px,27px);
}

.mip-showmore-open:after {
    top: 6px;
    transform: rotate(135deg) translate(-23px,-26px);
    -webkit-transform: rotate(135deg) translate(-23px,-26px);
}

.med-article-showmore-gap .article-main-content p:first-child,.med-article-showmore-gap .article-main-content div:first-child{
    margin-top:0;
}
