{{extend '../../base/templates.html'}} {{block 'content'}}
<div class="mag-container">
    <!-- 问题信息 -->
    <div class="med-question-base">
        {{include './_common/article_title.html'}}
        <div class="mag-gap-top mag-gap-bottom mag-line-clamp{{ page.questionInfo.clamp }}">{{ page.questionInfo.content }}</div>
    </div>

    <!-- 回答信息 -->
    <div class="med-question-answer">
        <!--标题参数：title名称,number数量-->
        <p class="mag-gap-top">{{ page.answer.title }}
            <span>{{ if page.answer.number > 0}} ({{ page.answer.number }}) {{/if}}</span>
        </p>

        <!-- 循环回答列表 -->
        {{each page.answer.answerList}}
        <div class="med-img-content mag-row mag-line-bottom">
            <div class="mag-span2">
                <mip-img class="med-img-content-img" src="{{ $value.imgUrl }}">
            </div>
            <div class="mag-span10">
                <p class="mag-gap-top-small">{{ $value.name }} {{if $value.tag}}
                    <span class="c-text-box c-text-box-yiliao">{{ $value.tag }} </span>{{/if}}</p>
                <p class="c-color-gray font-size-xs">
                    <span class="mag-gap-right-small">{{ $value.level }}</span>
                    <span>{{ $value.hospital }}</span>
                </p>
                <p class="mag-gap-top mag-gap-bottom-small mag-line-clamp4">{{ $value.content }}</p>
                <p class="font-size-s">{{ $value.time }}</p>

                <!--追问-->
                {{if $value.more}}
                <div class="med-question-answer-more mag-gap-top-small">
                    {{each $value.more v}}
                    <div class="med-question-answeru-user mag-gap-bottom">

                        {{if v.role == 'user'}}
                        <p class="mag-gap-bottom-small med-question-user-color">患者追问：</p>
                        {{else if v.role == 'doctor'}}
                        <p class="mag-gap-bottom-small med-question-doctor-color">医生答复：</p>
                        {{/if}}
                        <p class="mag-gap-top-small mag-gap-bottom-small font-size-s">{{ v.content }}</p>
                        <p class="c-color-gray font-size-s">{{ v.time }}</p>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/block}}
