@import './_common/common.styl'
@import './_common/article_title.styl'
@import './_common/article_info.styl'

.article-main-content{
    margin: 20px 0 20px;
    font-size:16px;
    line-height:26px;
}
.article-main-content p,.article-main-content div{
    margin:20px 0;
}