@import './_common/common.styl'
@import './_common/article_title_big.styl'
@import './_common/article_info.styl'

.med-showmore 
  p 
    margin 10px
.med-showmore-btn 
  display block !important
  position relative
  .icon 
    display inline-block
    width 6px
    height 6px
    border-left 1px solid #000
    border-bottom 1px solid #000
    font-weight bold
    transform rotate(315deg)
    -webkit-transform rotate(315deg)
    margin-bottom 3px
.mip-showmore-open 
  .icon 
    transform rotate(135deg)
    -webkit-transform rotate(135deg)
    margin-bottom 0
  .show 
    display block
  .hidden 
    display none
.med-article-showmore-gap .article-main-content p:first-child,
.med-article-showmore-gap .article-main-content div:first-child 
  margin-top 0
/* 展开更多 */
.show 
  display none
.hidden 
  display block
