@import './_common/common.styl'
@import './_common/article_title_big.styl'
@import './_common/article_info.styl'

.med-question-answer 
  padding-top 20px
  &:before 
    content ''
    display block
    width 100%
    height 10px
    background #f1f1f1
    width 120%
    margin-left -10%
.med-img-content 
  padding-bottom 10px
.med-question-answer-more 
  background-color #f8f8f8
  padding 12px
  border-radius 5px
.med-question-user-color,
.med-question-doctor-color 
  color #01b7c9
  font-weight bold
.med-question-user-color 
  color #01b7c9
.med-question-answer-user 
  &:last-child 
    margin-bottom 0
.med-question-margin-left 
  margin-left 35px
