{{extend '../../base/templates.html'}}

{{block 'content'}}
<div class="mag-container">
    {{include './_common/article_title_big.html'}}
    {{include './_common/article_info.html'}}

    <mip-audio
        src="{{ page.audio.src }}"
        controls
        customControls=".mip-audio-controller"
        layout="container"
    >
        <div class="mip-audio-controller audio-player mag-gap-top-large">
        <div class="audio-control mip-audio-play-pause mip-audio-stopped-icon">
            <i class="mag-icon mag-icon-voice"></i>
        </div>
        <div class="audio-body">
            <div class="audio-title">{{ page.audio.text }}</div>
                <div class="audio-seekbar mip-audio-seekbar">
                <div class="audio-seekbar-fill mip-audio-seekbar-fill"></div>
            </div>
            <div class="audio-progress">
                <div class="mip-audio-time-current audio-time-current">00:00</div>
                <div class="audio-time-total mip-audio-time-total">--:--</div>
            </div>
        </div>
        </div>
    </mip-audio>

    <!--自定义html标签内容-->
    <div class="article-main-content c-color mag-gap-top-large font-size-m med-line-height26">            
        {{@page.htmlContent}}
    </div>
    
    <mip-fixed type="bottom" class="med-ask-btn">
        {{ page.button }}
    </mip-fixed>
</div>
{{/block}}
